{% extends 'base.html' %}
{% block content %}
<style>
    .agreement a {
        color: #000 !important;
    }

    .agreement p {
        text-indent: 3%;
        margin-block-end: 0;
        text-align: justify;
    }
</style>
<div class="agreement overflow-hidden p-md-5 bg-light">
    <h2>Пользовательское соглашение</h2>
    <p>Использование бота Budget_bot означает, что вы полностью ознакомлены и согласны с условиями изложенного
        соглашения и обязуетесь их выполнять и нести ответственность за нарушение правил соглашения.</p><br>

    <h2>Термины</h2>
    <p><b>Budget_bot</b> - телеграм бот @Budget_sheets_bot предназначенный для ведения бюджета.</p>
    <p><b>Пользователь</b> - любое лицо использующее Budget_bot.</p>
    <p><b>Администрация</b> - лица, задействованные в создании, модернизации, поддержки, продвижении телеграм бота
        Budget_bot.</p>
    <p><b>Сервис</b> — совокупность услуг, предоставляемых Пользователю посредством работы Бота, инструкция пользования
        которым размещена в соответствующем разделе Бота.</p>
    <p><b>Пользовательское соглашение</b> — настоящее соглашение, правила и документы, регламентирующие работу
        Budget_bot.</p>
    <p><b>Сведения</b> — любые материалы и информация, предоставляемые Пользователем сервиса посредством Бота или иными
        способами.</p>
    <p><b>Соглашение</b> — настоящее соглашение со всеми дополнениями и изменениями.</p><br>

    <h2>Права и обязанности пользователя</h2>
    <p>Пользователь обязуется соблюдать настоящее Соглашение.</p>
    <p>В случае несогласия Пользователя с действующим Соглашением, Пользователь обязан прекратить пользоваться
        ботом Budget_bot.</p>
    <p>Пользователь принимаете на себя полную ответственность за использование любых сведений, размещенных
        пользователем и полученных с помощью сервиса.</p>
    <p>При обнаружении ошибок или наличии пожеланий по усовершенствованию Budget_bot, Пользователь может написать
        это Администрации проекта. Контактная информация представлена снизу.</p>
    <p>Пользователь не должен совершать каких-либо противоправных, или преступных действий при использовании
        Budget_bot.</p><br>

    <h2>Права и обязанности администрации</h2>
    <p>Администрация обязуется не разглашать полученную от Пользователя информацию третьим лицам за исключением
        обязательств разглашение информации в соответствии с обоснованными и применимыми требованиями закона.</p>
    <p>Администрация проекта не несет какой-либо ответственности за действия Пользователя, будь то прямой или
        косвенный ущерб, или понесенные убытки как самим Пользователем, так и третьими лицами.</p>
    <p>Администрация проекта оставляет за собой право полностью, или частично ограничивать, или изменять
        функциональность Budget_bot по техническим, технологическим, профилактическим, или иным причинам по своему
        собственному усмотрению, с предварительным уведомлением Пользователей или без такового.</p>
    <p>Администрация проекта не несёт никакой ответственности за любые противоправные, или противозаконные действия
        Пользователя.</p><br>

    <h2>Срок действия Соглашения</h2>
    <p>Настоящее Соглашение вступает в силу после запуска Бота в мессенджере и действует на протяжении всего
        периода сотрудничества Пользователя и Сервиса.</p>
    <p>Сервис оставляет за собой право изменять, корректировать и исправлять данное Пользовательское Соглашение в
        одностороннем порядке, с уведомлением пользователей.</p>
    <p>В случае несогласия с изменениями в Пользовательском соглашении, лицо имеет право отказаться от исполнения
        настоящего Пользовательского Соглашения и прекратить использовать услуги, предоставляемые Сервисом.</p><br>

    <h2 id="contacts">Контакты</h2>
    <p><b>Telegram: </b><a href="https://teleg.run/sviatoslav_pereverziev">@sviatoslav_pereverziev</a></p>
    <p><b>Почта: </b><a href="mailto:sviatoslav.pereverziev@gmail.com?subject=Вопрос по Budget_bot.">sviatoslav.pereverziev@gmail.com</a>
    </p>
    <p><b>Телефон: </b><a href="tel:+380639206697"> +380 63 920 66 97</a></p>
    </p>
</div>

{% endblock %}
