{% extends 'base.html' %}
{% block content %}
<style>

    .helping p {
        text-indent: 3%;
        margin-block-end: 0;
        text-align: justify;
    }

    .helping a {
        color: #000 !important;
    }

</style>

<div class="helping overflow-hidden p-md-5 bg-light">

    <h2 id="for what">Для чего нужен Budget Bot?</h2>
    <p><b>Budget Bot</b> - телеграм бот предназначенный, для того чтоб помочь Вам
        управлять своим бюджетом.</p><br>

    <h2 id="what can">Что он может?</h2>
    <p>При использовании Budget Bot для Вас создается Google таблица с различными
        стандартными графиками, таблицами расходов, доходов и т.п
        <a href="https://docs.google.com/spreadsheets/d/11UQhIoqvTySqZUFZW9MVX2lqv-qMRlw_5ZbJEf9Qd_I/edit?usp=sharing"
           target="_blank">(пример таблицы)</a>. Вы можете использовать ее как есть или изменять при желании.</p>
    <p>Вы всегда можете получить быстрый отчет за день, неделю или месяц по Вашим
        транзакциям используя команду <b>/report</b>. Там же вы можете посмотреть ваш текущий баланс.</p>
    <p>Кроме этого Вы можете установить уведомления от банка, и при любой транзакции они
        будут автоматически приходить в Budget Bot Вам нужно будет только выбрать категорию и подкатегорию для данной
        транзакции (на данный момент доступны только оповещения от Monobank).
    </p><br>

    <h2 id="for what google sheet">Для чего нужна гугл таблица?</h2>
    <p>В Google таблицу будут записываться все ваши транзакции, которые вы будете
        добавлять через Budget Bot.</p>
    <p>Эти транзакции добавляются в лист
        <a href="https://docs.google.com/spreadsheets/d/11UQhIoqvTySqZUFZW9MVX2lqv-qMRlw_5ZbJEf9Qd_I/edit#gid=974929251"
           target="_blank"><b>Data</b></a>, а затем строятся различные графики и таблицы. При использовании бота для
        Вас автоматически создается персональная Google таблица.</p><br>
    <p><b class="attention">Внимание:</b> доступ к Google таблице осуществляется по уникальной ссылке, не
        передавайте эту ссылку третьим лицам.</p><br>

    <h2 id="add">Для чего нужна команда /add?</h2>
    <p>Используя команду <b>/add</b> вы можете добавить новые транзакции. Вам нужно
        выбрать категорию и подкатегорию (если есть) а потом ввести сууму транзакции, описание (не обязательно) и дату
        транзакции, если хотите добавить транзакцию за другое число. Вы можете вводить сумму, описание и дату в люблй
        удобной для Вас последовательности.</p><br>

    <h2 id="report">Для чего нужна команда /report?</h2>
    <p>Используя команду /report вы можете получить отчет по доходам/расходам за
        текущий день, неделю или месяц. Также вы можете получить отчет за любой месяц по транзакциям которые не старше
        одного года. Здесь же вы можете посмотреть ваш текущий баланс.</p><br>

    <h2 id="settings">Для чего нужна команда /settings?</h2>
    <p>Используя команду /settings Вы можете настраивать свой Budget Bot. Изменять категории и подкатегории, изменять
        и получать Вашу Google таблицу, устанавливать ваш общий баланс, устанавливать оповещения от банка и др.</p><br>

    <h2 id="help">Для чего нужна команда /help?</h2>
    <p>Используя команду “/help” Вы можете получить краткие сведения для работы с Budget Bot и различную информацию.
        Больше информации Вы можете получить на сайте или у техподдержки.</p><br>

    <h2 id="transaction">Что такое транзакция?</h2>
    <p><b>Транзакция</b> - любой доход или расход который добавляется через Budget Bot с помощью команды /add или
        уведомлений от банка.</p><br>

    <h2 id="amount">Как указать сумму транзакцию?</h2>
    <p>Сумму транзакции можно указывать как целым числом, если копеек нет, так и десятичным указав количество
        копеек.</p><br>
    <p>Примеры:</p>
    <p>5 гривен можно указать как 5 или 5.00</p>
    <p>12 гривен и 65 копеек - 12.65</p><br>
    <p><b class="attention">Внимание:</b> На данном этапе поддерживается только гривна, поэтому после суммы не нужно
        писать грн! Если
        напишете, то “грн” уйдет в описание транзакции.</p>
    <p><b class="attention">Внимание:</b> Знак не учитывается, по этому если вы введете сумму “-54.40” то сумма
        транзакции будет 54.40, Budget Bot определяет знак по типу категории.</p><br>

    <h2 id="add data">Как добавить транзакцию за другой день?</h2>
    <p> Если вы забыли внести какую-то транзакцию и вспомнили о ней со временем, то вы можете указать дату транзакции на
        этапе ввода суммы и описания(если нужно).</p>
    <p><b class="attention">Внимание:</b> формат даты строгий и должен быть в виде <b>дд.мм.гггг</b> в противном случае
        транзакция не добавится или добавится некорректно. Если транзакция старше 30 дней то она не будет влиять на ваш
        общий баланс.</p><br>

    <h2 id="sat desc">Как добавить описание транзакции?</h2>
    <p>Вы можете добавить описание к транзакции которую добавляете вручную, это описание предназначено для того чтоб вы
        потом могли легче понять что это была за транзакция или записать важные для вас нюансы. Описание будет храниться
        в Вашей Google таблице на листе “Data” в поле “Описание”. Описание ограничено по длине и не может быть больше
        128 символов.</p><br>

    <h2 id="balance">Как считается баланс?</h2>
    <p>При любой новой транзакции Budget Bot определяет к какой категории относиться транзакция, если это доход то
        сумма прибавляется к балансу, а если это расход - отнимается. При этом если вы добавляете транзакцию которая
        старше 30 дней, она не будет изменять Ваш баланс.</p><br>

    <h2 id="set category">Как добавлять/удалять новую категорию/подкатегорию?</h2>
    <p>Вы можете изменять категории и подкатегории в Budget Bot в зависимости от ваших пожеланий.
    <p>Максимальное количество категорий 18 и в каждой категории может быть по 12 подкатегорий. Названия ограничены
        размером в 32 символа.</p><br>
    <p>Для <b>добавления</b> новой <b>категории</b> используйте команду “<b>/settings</b>” > “<b>Добавить</b>” >
        “<b>Категорию</b>” > выберите тип категории “<b>Доходы</b>” или “<b>Расходы</b>” > напишите <b>название</b>
        категории и <b>отправьте</b> сообщение.</p><br>
    <p>Для <b>добавления</b> новой <b>подкатегории</b> используйте команду “<b>/settings</b>” > “<b>Добавить</b>” >
        “<b>Подкатегорию</b>” > <b>выберете категорию</b> > напишите <b>название</b> подкатегории и <b>отправьте</b>
        сообщение.</p><br>
    <p>Для <b>удаления</b> категории используйте команду “<b>/settings</b>” > <b>выберите категорию</b> > нажмите “<b>Да”
        если уверены что
        хотите удалить</b> категорию.</p><br>
    <p>Для <b>удаления подкатегории</b> используйте команду “<b>/settings</b>” > <b>выберите категорию</b> > <b>выберите
        подкатегорию</b> > нажмите <b>“Да” если уверены что хотите удалить</b> подкатегорию.</p><br>

    <h2 id="income expenses">Что за тип категории “Доходы” и “Расходы”?</h2>
    <p>Все транзакции разделяются на два типа: доходы - те транзакции которые приносят вам доход и идут в баланс с
        плюсовой суммой, расходы - это ваши затраты которые будут отниматься от вашего баланса.</p>
    <p>При создании категории вы выбираете какой тип транзакций в ней будет.</p><br>

    <h2 id="notice">Для чего нужны оповещения от банков?</h2>
    <p>Оповещения от банков автоматически добавляют транзакции с вашей карты, Вам нужно будет только выбрать категорию
        и подкатегорию для транзакции. На данном этапе подключены оповещения о Monobank. В процессе разработки
        оповещения от PrivatBank.</p><br>
    <p><b class="attention">Внимание:</b> Budget Bot использует открытые информационные API банков.</p><br>

    <h2 id="take token mono">Получение токена Monobank для оповещений</h2>
    <p>Для работы с Monobank API Вам необходимо получить токен. Это достаточно просто. Удобнее всего использовать
        одновременно ноутбук и Ваш телефон так как вам будет необходимо сканировать QR код.</p>
    <p><a href="https://api.monobank.ua/" target="_blank"><b>Перейдите по ссылке</b> https://api.monobank.ua/ ></a>
        <b>сканируйте</b> телефоном <b>QR</b> код и у Вас откроется
        приложение Monobank > нажмите "<b>Подтвердить</b>" > <b>скопируйте Ваш токен.</b></p><br>
    <p><b class="attention">Внимание:</b> <b>Budget Bot не хранит Ваш токен </b> для увеличения безопасности Ваших
        данных.</p><br>

    <h2 id="set notice mono">Как установить оповещения от Monobank?</h2>
    <p>Используя команду “<b>/settings</b>” > “<b>Оповещения от Monobank</b>” > “<b>Установить оповещения</b>” >
        <a href="#take token mono"><b>Получите и скопируйте токен</b></a> > “<b>Установить</b>” >
        <b>Вставьте</b> ваш токен и <b>отправьте</b> сообщение.</p><br>

    <h2 id="off notice mono">Как отключить оповещения от Monobank?</h2>
    <p>Используя команду “<b>/settings</b>” > “<b>Оповещения от Monobank</b>” > “<b>Отключить оповещения</b>” >
        <a href="#take token mono"><b>Получите и скопируйте токен</b></a> > <b>Вставьте</b> ваш токен и <b>отправьте</b>
        сообщение.</p><br>

    <h2 id="check notice mono">Проверка оповещений от Monobank?</h2>
    <p>Используя команду “<b>/settings</b>” > “<b>Оповещения от Monobank</b>” > “<b>Проверка оповещений</b>” >
        <a href="#take token mono"><b>Получите и скопируйте токен</b></a> > <b>Вставьте</b> ваш токен и <b>отправьте</b>
        сообщение.</p><br>

    <h2 id="notifications come">Что делать если не приходят уведомления от банка?</h2>
    <p>На данном этапе Budget Bot находиться в стадии разработки и теоретически возможны ситуации когда оповещения от
        Monobank не приходят. В таком случае вы можете <a href="#check notice mono">проверить установлены ли
            оповещения</a>. Если оповещения не установлены, то повторите действие <a href="#set notice mono">для
            установки оповещений</a>. Так как мы не храним Ваш токен, то мы не может установить его
        автоматически снова. Если же оповещения утсновленны, но не приходят Вам, вы можете написать нам и мы Вам
        поможем.</p><br>

    <h2 id="table structure">Структура гугл таблицы созданной ботом?</h2>
    <p>Гугл таблица состоит из 5 листов:</p>
    <p><a href="https://docs.google.com/spreadsheets/d/11UQhIoqvTySqZUFZW9MVX2lqv-qMRlw_5ZbJEf9Qd_I/edit#gid=974929251"
          target="_blank"><b>“Data”</b></a> - в этот лист добавляются все транзакции, которые вы добавили через телеграм
        бота, со всеми необходимыми данными.</p>
    <p><a href="https://docs.google.com/spreadsheets/d/11UQhIoqvTySqZUFZW9MVX2lqv-qMRlw_5ZbJEf9Qd_I/edit#gid=223575539"
          target="_blank"><b>“За месяц”</b></a> - все транзакции за месяц разделенные по дням вместе с графиком. Вы
        можете увидеть Ваш баланс, расходы, доходы, а также все транзакции за конкретный день.</p>

    <p><a href="https://docs.google.com/spreadsheets/d/11UQhIoqvTySqZUFZW9MVX2lqv-qMRlw_5ZbJEf9Qd_I/edit#gid=79442894"
          target="_blank"><b>“За год”</b></a> - лист аналогичный листу “За месяц” только транзакции разделены не по
        дням, а по месяцам.</p>

    <p><a href="https://docs.google.com/spreadsheets/d/11UQhIoqvTySqZUFZW9MVX2lqv-qMRlw_5ZbJEf9Qd_I/edit#gid=379186194"
          target="_blank"><b>“Доходы”</b></a> - Ваши доходы которые разбиваются по месяцам + общая сумма доходов за год.
    <p>
        <a href="https://docs.google.com/spreadsheets/d/11UQhIoqvTySqZUFZW9MVX2lqv-qMRlw_5ZbJEf9Qd_I/edit#gid=1446449488"
           target="_blank"><b>“Расходы”</b></a> - Ваши расходы которые разбиты по месяцам, а также расходы за год. На
        этом листе вы можете записывать планируемые траты на каждый месяц, и смотреть сколько вы потратили и сколько
        запланировали потратить.</p><br>

    <h2 id="switch to table">Как переключиться на свою гугл таблицу?</h2>
    <p>При желании вы можете переключиться на гугл таблицу которая находиться в вашем Google аккаунте. В Вашей таблице
        будет создан лист “Data” в который будут добавляться транзакции, все остальные листы созданы не будут. Вы можете
        скопировать все необходимое из старого файла.</p><br>

    <p><b class="attention">Внимание:</b> в Вашей Google таблице не должно быть листа “Data”, он будет создан
        автоматически! Также вы должны открыть доступ на редактирование для почты Budget Bot, которая будет вам показана
        в процессе изменения таблицы.</p><br>
    <p>Для переключения таблицы используйте команду “<b>/settings</b>” > “<b>Изменить ссылку на Google таблицу</b>” >
        <b>откройте доступ на редактирование</b> таблицы для пользователя и нажмите “<b>Да</b>” > <b>вставить</b> Вашу
        ссылку на Google таблицу и <b>отправьте</b> сообщение.</p><br>

    <h2 id="open access">Как открыть доступ на редактирование вашей Google таблицы?</h2>
    <p>Для получения этой информации <a
            href="https://support.google.com/docs/answer/2494822?co=GENIE.Platform%3DDesktop&hl=ru" target="_blank">
        <b>нажмите сюда.</b></a></p><br>

    <h2 id="will be added">Что еще будет добавляться в бот?</h2>
    <p>На данном этапе в стадии разработки находятся несклько дополнительных функций:</p>
    <p><b>1 - Установка лимитов по транзакциям.</b> Вы сможете устанавливать лимит на месяц, неделю или день для
        определенной
        категории и при каждой новой транзакции лимит будет уменьшаться. Когда лимит закончиться, то Вы будете об этом
        проинформированы в сообщении.</p>
    <p><b>2 - Подключение оповещений по транзакциям ПриватБанка.</b></p>
    <p><b>3 - Вывод курса валют с Monobank и PrivatBank.</b></p>
    <p><b>4 - Работа с валютой долларом и евро.</b> На данном этапе реализована работа только с гривной.</p>
    <p><b>5 - Работа бота в группе.</b> Для того чтоб можно было вести общий бюджет в одном файле.</p>
    <p><b>6 - Автоматический выбор категории и подкатегории</b> для новых транзакций.</p>
    <p><b>7 - Добавление нескольких счетов.</b> Вы сможете устанавливать несколько счетов, которые будете выбирать в
        процессе добавления транзакции.</p>
    <p><b>8 - Добавление быстрых команд для Siri.</b> Благодаря приложению "Быстрые команды Siri" на iOS вы сможете
        узнавать у Siri Ваш баланс, сколько вы заработали за месяц или сколько потратили, какой звроботок в час и д.р.
    </p><br>

    <p>Если у Вас есть какие-то дополнительные идеи или пожелания, то вы можете написать о них нашей <a
            href="agreement#contacts">Администрации.</a></p>

</div>
{% endblock %}